__pycache__/

# Virtual Environment
venv/

Notebooks/Results/
Data/
Output/
dist/
build/
*.egg-info/


# Jupyter Notebook
.ipynb_checkpoints

# Formats
**/*.tif
**/*.dcm
*.tif
*.dcm
*.log
*.vrml
*.out
*.pdf
test*
*.spec

# Files
Notebooks/test*
all.txt

